<div class="container">
  <app-menu></app-menu>
  <div class="row">
      <div class="col">
          <h4 class="bg-warning py-4 ps-2">Generar reporte <i class="pi pi-plus-circle"></i></h4>

          <div class="card-body">
              <div class="mb-3">
                  <label for="foto" class="form-label"><b>Fotografía</b></label>
                  <img src="{{url}}" alt="" class="peque">
                  <input type="file" class="form-control"
       (change)="onFileSelected($any($event))" #fileUpload>
                </div>
                <div class="mb-3">
                 <p> <label for="" class="form-label"><b>Clasificación</b></label></p>
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" value="1" [(ngModel)]="incidente" id="Incidencia" value="option1">
                      <label class="form-check-label" for="Incidencia">Incidencia</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" value="1" [(ngModel)]="accidente"  id="Accidente" value="option2">
                      <label class="form-check-label" for="Accidente">Accidente</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" value="1" [(ngModel)]="accion" id="Accion" value="option3">
                      <label class="form-check-label" for="Accion">Acción insegura</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" value="1" [(ngModel)]="condicion" id="Condicion" value="option3">
                      <label class="form-check-label" for="Condicion">Condición insegura</label>
                    </div>
                </div>

                <div class="mb-3">
                  <label for="" class="form-label"><b>Descripción</b></label>
                  <input type="text" [(ngModel)]="descripcion" class="form-control" id="" placeholder="">
                </div>

              <a (click)="registrar()" class="btn btn-success me-4">GENERAR REPORTE <i class="pi pi-save"></i> </a>
              <a routerLink="/reportes" class="btn btn-danger">CANCELAR <i class="pi pi-times"></i> </a>
          </div>
      </div>
      
  </div>
</div>
