<app-menu></app-menu>
<div class="container">
    <div class="row">
        <h4 class="bg-warning py-4">Mis reportes <i class="pi pi-clock"></i></h4>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let suceso of sucesos">
            <p-card header="{{suceso.fecha}}" subheader="Por: {{suceso.usuario}}" >
                <ng-template pTemplate="header">
                    <img alt="Fotografía" src="{{suceso.foto}}">
                </ng-template>
                <p class="px-2">{{suceso.descripcion}}</p>

                <p-badge *ngFor="let cat of suceso.categorias" value="{{cat}}" severity="info" ></p-badge>
               
            </p-card>
        </div>
        
    </div>
</div>


